
/*   COLORS   */ 

$color-text: rgba(37,43,66,1);
$color-text-second: rgba(115,115,115,1) ;

$color-primary: rgba(255,166,43,1);
$color-secondary: rgba(0,160,193,1);

$dark-background-color: rgba(37,43,66,1);
$background-secondary-color: rgba(22,105,122,1);


