@media (max-width: 1440px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .header {
    height: auto;
    padding-bottom: 30px;
  }
  .header .row {
    flex-wrap: wrap;
  }
  .about .row {
    flex-direction: column;
  }
  .about_video-wrapper {
    width: 100%;
  }
  .about_video {
    margin: 0 auto;
  }
  .about_content-wrapper {
    width: 100%;
  }
  .about_content {
    margin: 0 auto;
  }
  .section_present {
    width: 100%;
  }

  .contact_item {
    margin-top: 30px;
  }
  .contact_item:first-child {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .features .row {
    flex-wrap: wrap;
  }
  .features_item {
    margin-top: 30px;
  }
  .advice .row {
    justify-content: space-around;
  }
  .advice_card {
    margin-top: 30px;
    margin-right: 30px;
  }
  .subscribe-form {
    flex: unset;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .header_content {
    width: 100%;
  }
  .row .card_wrapper {
    margin-right: 0px;
  }
  .advice_card {
    margin-top: 30px;
    margin-right: 0px;
  }
  .form-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 20px 30px 30px 20px;
  }
  .subscribe-form {
    width: 100%;
  }
  .subscribe-text {
    margin-bottom: 10px;
  }
  .contact_item:first-child {
    margin-right: 0px;
  }
  .client-brand {
    min-width: 130px;
  }
  .footer .row {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: unset;
  }
  .footer_text {
    margin-bottom: 30px;
  }
  .footer-list {
    margin-bottom: 40px;
  }
  .socials {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 28px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    background-color: rgba(246, 246, 246, 1);
    padding: 34px 30px 30px 30px;

    &_item {
      margin: 5px;
      position: relative;
      z-index: 12;
    }
  }

  .navbar-toggler {
    display: block;
    cursor: pointer;
    fill: $color-text-second;
  }

  .navbar-collaps {
    position: absolute;
    flex-direction: column;
    top: 100px;
    width: 88%;
    top: 100px;
    width: 100%;
    left: 0;
    right: 0;

    &:before {
      content: "";
      background-color: rgba(246, 246, 246, 1);
      height: 410px;
      position: fixed;
      top: -5px;
      left: 0;
      right: 0;
      transition: all 1s ease-out;
    }

    & li {
      text-align: center;
    }

    & a {
      font-size: 30px;
      line-height: 45px;
      font-weight: 400;
      letter-spacing: 0.2px;
      color: $color-text-second;
    }
  }

  .navbar-collaps.hide {
    display: none;
  }

  /* MENU MOBILE ANIMATION CLASSES */

  .leave-active {
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(100px);
  }

  .enter {
    opacity: 0;
    transform: translateY(-400px);
  }
  .enter-active {
    transition: opacity 1s ease-out, transform 1s;
  }


  

  .header_content {
    text-align: center;
    align-items: center;
    padding-top: 125px;

    & .row {
      flex-direction: column;
    }
  }
  .header_info-btn {
    margin-top: 20px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
  .features .row {
    flex-direction: column;
    align-items: center;
  }

  .advice .row {
    flex-direction: column;
    align-items: center;
  }
  .form-wrapper {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .clients-items {
    flex-direction: column;
    align-items: center;
  }
  .client-brand {
    margin-bottom: 30px;
  }
  .input-group {
    flex-direction: column;
    align-items: center;
    min-width: 265px;
    margin: 0 auto;
  }
  .form-wrapper {
    height: 230px;
    justify-content: unset;
  }
  .subscribe-btn {
    margin-top: 15px;
    border-radius: 5px;
  }
  .subscribe-input {
    border-radius: 5px;
  }
  .footer .row {
    width: 90%;
  }
}

@media (max-width: 378px) {
  .card {
    width: 300px;
    min-height: 210px;
  }
}