@import "./colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: $color-text-second;
  font-weight: 500;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.2s linear;
}

/* BUTTONS MIXINS */

@mixin btn-outline($color) {
  background-color: #ffffff !important;
  border: 1px solid;
  border-color: $color;
  color: $color;
}

@mixin btn($width, $height, $color, $bg) {
  min-width: 117px;
  width: $width;
  height: $height;
  color: $color;
  background-color: $bg;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  outline: none;
  color: #ffffff;

  &:hover {
    @include btn-outline($color-secondary);
  }
}

.btn-round {
  border-radius: 37px;
}

div {
  display: block;
}
ul {
  margin-left: 0;
  margin-right: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000000;
}
p {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-style: normal;
  transition: all 0.5s ease-out;
}

h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  color: $color-text;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.20000000298023224px;
  color: $color-text;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  color: $color-text;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  color: $color-text-second;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  color: $color-text;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
}

.container {
  width: 73%;
  margin: 0px 195px 0px 195px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  fill: $color-secondary;
}

/*     HEADER SECTION   */

.header {
  background-image: url(../img/content/home_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 793px;
  width: 100%;
  position: relative;
  z-index: 1;

  & .row {
    flex-wrap: nowrap;
  }
}

.navbar {
  display: flex;
  padding: 34px 0px 40px 0px;
  position: relative;
  z-index: 10;
  transition: all 0.4s ease-out;

  &-brand {
    margin-right: 9.5%;
    z-index: 20;
  }

  &-collaps {
    display: flex;
  }

  &_item {
    padding: 10px;
    z-index: 15;
  }
}

.navbar a {
  transition: all 0.4s ease-out;

  &:hover {
    color: $color-text-second;
  }
}

.navbar-toggler {
  display: none;
  z-index: 20;
}

.header_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px;
  padding-bottom: 52px;

  & h4 {
    padding: 35px 0px;
  }

  & button {
    margin-right: 10px;
  }
}

.header_order-btn {
  @include btn(185px, 48px, #ffffff, $color-primary);
}
.header_info-btn {
  @include btn(154px, 48px, #ffffff, $color-primary);
}

.row .card_wrapper {
  margin-right: 20px;
}
.card_wrapper:last-child {
  margin-right: 0px;
}
.card_wrapper {
  margin-top: 30px;
  height: auto;
  flex: 0 0 auto;
}
.card {
  width: 329px;
  height: 210px;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  position: relative;
  word-wrap: break-word;
  transition: all 0.5s ease-out;

  &-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }

  & h3 {
    padding-top: 15px;
    padding-bottom: 12px;
  }

  &:hover {
    background-color: $color-secondary;
    color: #ffffff;
  }
  &:hover h3 {
    color: #ffffff;
  }
  &:hover .card_icon {
    fill: #ffffff;
  }
}

.card_icon {
  max-width: 47px;
  height: 40px;
  fill: $color-secondary;
  transition: all 0.5s ease-out;
}

/*  FEATURES  */

.features .row {
  justify-content: space-around;
  flex-wrap: nowrap;
}
.features {
  background-color: rgba(250, 250, 250, 1);
  padding-top: 130px;

  &_item {
    height: 209px;
    width: 230px;
    padding: 30px 40px;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_icon {
      fill: $color-secondary;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

.section_present {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
  & h2 {
    padding-bottom: 10px;
  }
}

/*   ADVICE SECTION  */

.advice {
  background-color: rgba(250, 250, 250, 1);
  padding-top: 130px;
  padding-bottom: 130px;
}

.advice .row {
  justify-content: space-between;
}
.advice_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 341px;
  width: 230px;
  background-color: #ffffff;
}

.card-body {
  padding: 30px 30px;

  & h5 {
    margin-bottom: 15px;
  }
}

/*  ABOUT SECTION  */

.about {
  padding-top: 118px;
  padding-bottom: 130px;
}

.about .row {
  margin-top: 110px;
}

.about_video-wrapper {
  width: 66.6%;
  flex: 0 0 auto;
}

.about_video {
  max-width: 597px;
  height: 442px;
  background-image: url(./img/content/about_video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoplay {
  max-width: 98px;
  max-height: 98px;
  flex: 0 1 auto;
  fill: $color-secondary;

  & a {
    height: 100%;
    border-radius: 50%;
    display: block;
    transition: transform 0.4s ease-out;

    &:hover {
      transform: scale(1.04);
    }
  }
}

.about_content-wrapper {
  width: 33.3%;
  flex: 0 0 auto;
}

.about_content {
  max-width: 334px;
  max-height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & h2 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.about_card {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;

  &:last-child {
    padding: 0px;
  }
  & h5 {
    padding-bottom: 5px;
  }

  &_icon {
    margin-right: 20px;
    fill: $color-primary;
  }
}

/*   CLIENTS SECTION */

.clients {
  background: linear-gradient(
    to bottom,
    rgba(250, 250, 250, 1) 80%,
    $dark-background-color 80%
  );
  padding-bottom: 20px;
}

.client-brand {
  display: flex;
  justify-content: center;
  min-width: 105px;
  min-height: 75px;
}

.clients .row {
  justify-content: space-between;
}

.clients-items {
  padding: 50px 15px 70px 15px;
}

.form-wrapper {
  min-height: 124px;
  width: 986px;
  border-radius: 2px;
  margin: 0 auto;
  padding: 30px 50px 30px 50px;
  background-color: $background-secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h3 {
    color: #ffffff;
  }
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  max-height: 58px;
  min-width: 337px;
  flex-basis: 450px;
}

.subscribe-form {
  flex: 0 1 450px;
}

.subscribe-input {
  position: relative;
  flex: 1 1 auto;
  min-height: 58px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px 0px 0px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.subscribe-text {
  width: 259px;
}

.subscribe-btn {
  @include btn(117px, 58px, #ffffff, $color-primary);
  margin-left: -1px;
  border-radius: 0px 5px 5px 0px;
  max-width: 117px;
}

/* CONTACT SECTION  */

.contact {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 178px;

  &.section_present {
    margin-bottom: 80px;
  }

  & .row {
    justify-content: center;
    align-items: center;
  }

  &_icon {
    fill: $color-secondary;
  }
}
.contact_item {
  width: 328px;
  height: 333px;
  background-color: #ffffff;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-out;

  &:hover {
    background-color: $dark-background-color;
    color: #ffffff;
    height: 393px;
  }
  &:hover h5 {
    color: #ffffff;
  }
  &:hover .contact_icon {
    fill: #ffffff;
  }
  &:hover button {
    border-color: #ffffff;
    color: #ffffff;
    background-color: inherit !important;
  }

  &:hover .contact-request-btn:hover {
    @include btn-outline($color-secondary);
  }
}

.contact-request-btn {
  @include btn(160px, 44px, $color-primary, #ffffff);
  @include btn-outline($color-primary);
}

/*  FOOTER   */

.footer {
  background-color: #fafafa;

  & .row {
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
  }
}

.footer-contact-us-btn {
  @include btn(160px, 58px, #ffffff, $color-primary);
}

.footer_info {
  min-height: 272px;
  background-color: $background-secondary-color;
  display: flex;
  align-items: center;
  padding: 50px 0px;

  & h5 {
    margin-bottom: 20px;
  }
  & a {
    padding: 5px 5px;
    transition: all 0.4s ease-out;
  }
  & a:hover {
    text-decoration: underline solid #ffffff;
  }
  & li {
    margin: 5px 0px;
    display: flex;
  }

  & h5,
  h6,
  a {
    color: #ffffff;
  }

  & h6 {
    padding: 5px;
  }

  & .row {
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
}

.footer-list {
  flex: 0 1 auto;
}

.socials {
  display: flex;

  & a {
    padding: 5px;
    margin: 5px;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@import "./media.scss";
